footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
  color: #fff;
  .main-container {
    display: flex;
    .left .content {
      p {
        text-align: justify;
      }
      .social {
        margin: 20px 0 0;
        a {
          padding: 0 2px;
          span {
            height: 40px;
            width: 40px;
            background: #1a1a1a;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
            border-radius: 5px;
            transition: 0.3s;
            color: #fff;
          }
          span:hover {
            background: #2196f3;
          }
        }
      }
    }
    .box {
      flex-basis: 50%;
      padding: 10px 20px;
      .content {
        margin: 20px 0 0 0;
        position: relative;
      }
      .content::before {
        position: absolute;
        content: "";
        top: -10px;
        height: 2px;
        width: 100%;
        background: #1a1a1a;
        .content::after {
          position: absolute;
          content: "";
          height: 2px;
          width: 15%;
          background: #2196f3;
          top: -10px;
        }
        h2 {
          font-size: 1.125rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
      .center .content {
        span.fas {
          font-size: 1.4375rem;
          background: #1a1a1a;
          color: #fff;
          height: 45px;
          width: 45px;
          line-height: 45px;
          text-align: center;
          border-radius: 50%;
          transition: 0.3s;
          cursor: pointer;
        }
        .text {
          font-size: 1.0625rem;
          font-weight: 500;
          padding-left: 10px;
          color: #fff;
          
        }
        .phone {
          margin: 15px 0;
          .text a{
          color: #fff;
          text-decoration: none;
        }
        }
      }
        .right form {
        .text {
          font-size: 1.0625rem;
          margin-bottom: 2px;
          color: #838080;
        }
        input, textarea{
          width: 100%;
          font-size: 1.0625rem;
          background: #151515;
          padding-left: 10px;
          border: 1px solid #222222;
          outline: none;
          color: #ffff;
          resize: none;
        }
        input {
          outline: none;
          color: #fff;
        }
        .btn {
          margin-top: 10px;
          input [type="submit"] {
            height: 40px;
            width: 100%;
            border: none;
            outline: none;
            background: #2196f3;
            font-size: 1.0625rem;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
          }
          input[type="submit"]:hover{
              background: #9c27b0;}
            }
        }
    }
  }

  @media (max-width:900px) {
    footer{
        position:relative;
        bottom: 0px;
    }
    .main-container {
        flex-wrap: wrap;
        flex-direction:column ;
    }
    .main-container .box {
        margin: 5px 0;
    }
}