/*Colores*/
$dark: black;
$light: gray;
$special: orange;
$white: white;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&display=swap');

$main-font: "Roboto", sans-serif;
$special-font: "Koulen", cursive;

$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;